<app-header></app-header>


<div class="box">
    <div class="cart">

        <div class="shoppe" *ngFor="let product of projucts">
            <a routerLink="/product/{{product.id}}">
                <img [src]="product.url" alt="">
            </a>
            <div class="p">
                <h3>{{product.name}}</h3>
                <p>{{product.price}}</p>
            </div>
            <div class="btns">
                <div class="upanddown">
                    amount
                    <button (click)="up( product.id )">+</button>
                    <input id="{{product.id}}" type="number" value="{{product.quantity}}">
                    <button (click)="down(product.id)">-</button>
                </div>
            </div>
        </div>
        <div class="total">
            <h2>Total: <p id="total">{{ getTotal() }}</p> </h2>
            <!-- loop projucts and get all  quantity and cal -->
    </div>
</div>
    <!-- form firstname lastname cart -->
        <div class="form">
                <input type="text" #name id="firstname" placeholder="Firstname">
                <input type="text" class="form-control" id="lastname" placeholder="Lastname">
                <input type="number" class="form-control" id="cart" placeholder="cart">
                <input type="text" hidden #total value="{{ getTotal() }}">
            <button type="submit" routerLink="/confirmation/{{name.value}}/{{total.value}}">Submit</button>
        </div>
</div>