<app-header></app-header>

<div *ngIf="projucts.length > 0" class="box">
    <div class="cart">

        <div class="shoppe" *ngFor="let product of projucts">
            <a routerLink="/product/{{product.id}}">
                <img [src]="product.url" alt="">
            </a>
            <div class="p">
                <h3>{{product.name}}</h3>
                <p>{{product.price}}</p>
            </div>
            <div class="btns">
                <div class="upanddown">
                    amount
                    <button (click)="up( product.id )">+</button>
                    <input id="{{product.id}}" type="number" value="{{product.quantity}}">
                    <button (click)="down(product.id)">-</button>
                </div>
            </div>
        </div>
        <div class="total">
            <h2>Total: <span id="total">{{ getTotal() }}</span> </h2>
            <!-- loop projucts and get all  quantity and cal -->
        </div>
    </div>
    <!-- form firstname lastname cart -->
    <div class="form" >
        <input type="text" required ngModel #name="ngModel" id="firstname" placeholder="Firstname">

        <input type="text" required class="form-control" id="lastname" placeholder="Lastname">
        <input type="number" required ngModel (ngModelChange)="nameChanged($event)" placeholder="cart">
        <input type="text" hidden #total value="{{ getTotal() }}">
        if fill all form show button and routerLink 
        <button *ngIf="name.valid" routerLink="/confirmation/{{name.value}}/{{total.value}}" >Submit</button>
        <button type="submit" class="btn btn-primary" [disabled]="!name.valid" [hidden]="name.valid">Submit</button>
    </div>
</div>

<div *ngIf="projucts.length == 0" class="box">

    <div class="empty">
        <h2>Your cart is empty</h2>
        <p>You have no items in your cart. To buy one or more items, click on the "Add to cart" button next to the item.</p>
    </div>
</div>