<app-header></app-header>

<div *ngIf="projucts.length > 0" class="box">
    <div class="cart">

        <div class="shoppe" *ngFor="let product of projucts">
            <a routerLink="/product/{{product.id}}">
                <img [src]="product.url" alt="">
            </a>
            <div class="p">
                <h3>{{product.name}}</h3>
                <p>{{product.price}}</p>
            </div>
            <div class="btns">
                <div class="upanddown">
                    amount
                    <!-- <button (click)="up( product.id )">+</button> -->
                    <input id="{{product.id}}" type="number" value="{{product.quantity}}" (change)="onamount(product.id)" >
                    <!-- <button (click)="down(product.id)">-</button> -->
                </div>
            </div>
        </div>
        <div class="total">
            <h2>Total: <span id="total">{{ getTotal() }}</span> </h2>
            <!-- loop projucts and get all  quantity and cal -->
        </div>
    </div>
    <!-- form firstname lastname cart -->


    <form #form="ngForm" (ngSubmit)="onSubmit()" class="form">
        <div>
            <input type="text" name="first" required minlength="4" [(ngModel)]="first" #firstName="ngModel" placeholder="firstName">
            <div *ngIf="firstName.errors?.['required']">First Name is required</div>
            <div *ngIf="firstName.errors?.['minlength']">min letter 4</div>

        </div>

        <div>
            <input type="text" name="last" required minlength="4" [(ngModel)]="last" #lastName="ngModel" placeholder="lastName">
            <div *ngIf="lastName.errors?.['required']">Last Name is required</div>
            <div *ngIf="firstName.errors?.['minlength']">min letter 4</div>
        </div>
        <div>
            <input type="text" name="number" required minlength="14" [(ngModel)]="number" #num="ngModel" placeholder="Number Cart">
            <div *ngIf="num.errors?.['required']">Number is required</div>
            <div *ngIf="num.errors?.['minlength']">card number 14</div>
        </div>

        <button type="submit" [disabled]="form.invalid  ">Submit</button>
    </form>

</div>

<div *ngIf="projucts.length == 0" class="box">

    <div class="empty">
        <h2>Your cart is empty</h2>
        <p>You have no items in your cart. To buy one or more items, click on the "Add to cart" button next to the item.</p>
    </div>
</div>
