<app-header></app-header>

<h1>Product List</h1>
<div class="shoppes">
    <div class="shoppe" *ngFor="let product of Product">
        <a routerLink="/product/{{product.id}}">
            <div class="shoppe-image">
                <img [src]="product.url" alt="">
            </div>
            <div class="shoppe-name">
                {{product.name}}
            </div>
            <div class="shoppe-price">
                $ {{product.price}}
            </div>
        </a>
        <div class="btns">
            <div class="upanddown">
                <button (click)="up( product.id )">+</button>
                <input id="{{product.id}}" type="text" value="1">
                <button (click)="down(product.id)">-</button>
                
            </div>
            <button (click)="addToCart(product.id)" class="addtocart">Add to cart</button>
        </div>
    </div>
</div>
